:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.header .container{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.happiness, .food, .population{
  display: flex;
  gap: .5rem;
  position: relative;
  align-items: center;
}

.happiness-angry .happiness-number, .food-angry .food-number, .negative-number{
  color: rgb(163, 13, 13);;
}

.tooltip-item-value:not(.negative-number){
  color: rgba(101,163,13,1);;
}

.happiness, .food{
  border: 2px solid rgba(101,163,13,1);;
}

.happiness-angry, .food-angry{
  border: 2px solid rgb(163, 13, 13);;;
}

.happiness-image{
  width: 20px;
  height: 20px;
}

.food-image{
  height: 25px;
  width: 25px;
}

.human-image{
  height: 30px;
  width: auto;
}

.happiness-image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.happiness-number, .food-number, .population-number{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(101,163,13,1);
}

.tooltip {
  position: absolute;
  background-color: rgba(255,255,255,.5);
  color: #000;
  padding: 16px 10px;
  border-radius: 4px;
  bottom: -16px;
  min-width: 200px;
  left: 0;
  transform: translateY(100%);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0/.1),0 4px 6px -4px rgb(0 0 0/.1);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-shadow);
  width: calc(100% - 20px);
  backdrop-filter: blur(8px);
}

.tooltip-title{
  font-weight: 700;
  font-size: 1.125rem;
  text-align: left;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.tooltip-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
}

.tooltip-item-top{
  border-bottom: 1px solid rgba(229,231,235,1);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.resources{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  width: 100%;
}

.resources-item{
  background: rgba(243,244,246,1);
  padding: 1.25rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.builds{
  margin-top: 100px;
}

.builds-title{
  text-align: left;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: .5rem;
}

.builds-description{
  font-size: .875rem;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
  color: rgba(107,114,128,1);
  text-align: left;
}

.builds-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.builds-item{
  text-align: center;
  --tw-border-opacity: 1;
  border: 1px solid rgba(229,231,235,var(--tw-border-opacity));
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  width: calc(100% - 2rem);
  cursor: pointer;
  transition: .3s background ease;
}

.builds-item:hover{
  background: rgba(243,244,246,1);
}

.builds-item-title{
  font-weight: 600;
}

.builds-item-description{
  font-size: 14px;
}

.builds-item-image{
  height: 120px;
  width: 120px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  --tw-border-opacity: 1;
  border: 1px solid rgba(229,231,235,var(--tw-border-opacity));
  transform: translate(-50%, -50%);
  background-color: rgba(101,163,13,.4);;
  backdrop-filter: blur(8px);
  padding: 20px 25px;
  border-radius: 8px;
  z-index: 999;
}

.modal p {
  max-width: 420px;
}

.modal-content {
  margin-bottom: 10px;
}

.modal-danger{
background: rgb(163, 13, 13,.4);
}